/* Vars */
:root {
    --primaryColor: #d24242;
    --secondaryColor: #0089d0;

    --colorTag1: #666699;

    --bgColor: #f1f3f6;
    
    --textColor: #323333;
    --invertTextColor: #f2f2f2;
    --sigColor: #a0a0a0;

    --infoColor: #0089d0;
}
